 body {
    background-color: rgb(48, 4, 4);
 }
.fondo {
    border: 30px ridge rgb(96, 42, 42);
    background-color: rgb(109, 38, 27);
    border-radius: 40px;
}
.titulo {
    color: rgb(141, 14, 14);
    font-family: cursive;
    background-color: rgb(50, 5, 5);
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    margin-left: 600px;
}
.img {
    border-radius: 10px;
    width: 400px;
    margin-left: 510px;
}
.texto {
    color: rgb(0, 153, 255);
    font-family: cursive;
    font-size: 20px;
    background-color: rgb(135, 45, 9) ;
    border-radius: 20px;
    padding: 5px;
    width: 1200px;
    margin-left: 130px;
}
.subtitulo {
    color: rgb(218, 74, 42);
    font-family: cursive;
    font-size: 30px;
    margin-left: 600px;
    background-color: rgb(94, 9, 23);
    padding: 10px;
    width: 210px;
    border-radius: 30px;
}
.img2 {
    border-radius: 40px;
    margin-left: 310px;
}
.negro {
    border-radius: 30px;
    margin-left: 470px;
}
.subtitulo2 {
    color: rgb(218, 74, 42);
    font-family: cursive;
    font-size: 30px;
    margin-left: 448px;
    background-color: rgb(94, 9, 23);
    padding: 10px;
    width: 500px;
    border-radius: 30px;
}
.auto {
    border-radius: 30px;
    margin-left: 470px;
    width: 500px;
}
.texto4 {
    color: rgb(0, 153, 255);
    font-family: cursive;
    font-size: 20px;
    background-color: rgb(135, 45, 9) ;
    border-radius: 20px;
    padding: 5px;
    width: 250px;
    margin-left: 580px;
}
.br {
    padding: 10px;
    color: rgb(0, 204, 255);
    background-color: rgb(47, 139, 16);
    border-color: aqua;
    border-radius: 10px;
    font-family: cursive;
    font-size: 20px;  
    margin-left: 30px;
}
